<!DOCTYPE html>
<html>

<head>
  <% include ../includes/header.ejs %>
</head>

<body>
  <% include ../includes/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <h1>
          <%= title %>
        </h1>
        <p>This is the placeholder for Team Activity 02</p>
      </div>
    </div>
    <div class="container">
      <form action="/ta02/addUser" method="POST">
        <input type="text" name="newName" id="newName">
        <button type="submit">Submit</button>
      </form>
      <% if (duplicateName) { %> 
        <h2>Can't add a name that already exists</h2>
      <% } %> 
      <ul>
        <% users.forEach(name => { %> 
          <li><%= name %></li>
        <% }) %> 
      </ul>

      <form action="/ta02/removeUser" method="POST">
        <input type="text" name="toRemove" id="toRemove">
        <button type="submit">Remove</button>
      </form>
      <% if (nonexistant) { %> 
        <h2>Can't remove a name that doesn't exist</h2>
      <% } %> 
    </div>


</body>

</html>